<%= form_for(@purchase_receipt) do |f| %>
  <% if @purchase_receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_receipt.errors.count, "error") %> prohibited this purchase_receipt from being saved:</h2>

      <ul>
      <% @purchase_receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.text_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :provider_id %><br>
    <%= f.text_field :provider_id %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :numero_factura %><br>
    <%= f.number_field :numero_factura %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :costo_unitario %><br>
    <%= f.text_field :costo_unitario %>
  </div>
  <div class="field">
    <%= f.label :valor_total %><br>
    <%= f.text_field :valor_total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
