<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :valor_unitario %><br>
    <%= f.text_field :valor_unitario %>
  </div>
  <div class="field">
    <%= f.label :valorC_total %><br>
    <%= f.text_field :valorC_total %>
  </div>
  <div class="field">
    <%= f.label :articulo %><br>
    <%= f.check_box :articulo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
